<h1>
    Edit {{individualUser.firstName}}</h1>

<form action="/user/{{individualUser._id}}?_method=PUT" method="POST">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" value={{individualUser.firstName}} />
    </div>
    <br>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" {{individualUser.lastName}}</input>
    </div>
    <br>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" value={{individualUser.username}} />
    </div>
    <br>
    <div>
        <label for="companyName">Company Name:</label>
        <input type="text" name="companyName" value={{individualUser.companyName}} />
    </div>
    <br>
    <div>
        <label for="profilePicture">Profile Image:</label>
        <input type="text" name="profileImage" value={{individualUser.profilePicture}} />
    </div>
    <button type="submit">Update</button>
</form>