<h1>All Users</h1>

<ul>
  {{#each groupOfUsers}}
  <br>
  <li>
    <a href="/users/{{_id}}">
      <p>name: {{firstName}} {{lastName}}</p>
      <p>user name: {{userName}}</p>
      <p>{{company}}</p>
      <p>
        <img src="{{profilePicture}}" alt="">
      </p>
     
      
     



    </a>
    

  </li>
  {{/each}}
  <br>
  <form action="/user/new">
   <input type="submit" value="CREATE A NEW USER"/>
</form>
</ul>



