<h1>All Users</h1>


{{#each groupOfUsers}}
<ul>
  <br>
  <li>
    <a href="/user/{{_id}}">
      <p>name: {{firstName}} {{lastName}}</p>
      <p>user name: {{userName}}</p>
      <p>{{company}}</p>
      <p>
        <img src="{{profilePicture}}" alt="">
      </p>
      <p>{{location}}</p>
    </a>
  </li>
</ul>
{{/each}}

<a href="/user/new">
  <button>CREATE NEW USER</button>
</a>