<br>
<br>
<br>
<h1>ALL PHOTOGRAPHERS</h1>

<div class="fixed-top">

  <nav class="navbar navbar-light" style="background-color: coral;">

  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="http://localhost:3000/">PICTURE PERFECT</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/user">PHOTOGRAPHERS
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/location">LOCATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/pictures">PHOTOS</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">

      </form>
    </div>
  </nav>
  <nav class="navbar navbar-light" style="background-color: coral;">

  </nav>
</div>

{{#each groupOfUsers}}
<ul>
  <br>
  <div class="usercontainer">
    <a href="/user/{{_id}}">
      <p>
        <img class="profilepics" src="{{profilePicture}}" alt="">
      </p>
      <div class="usercontainerindex">
        <p class="userinfo">NAME: {{firstName}} {{lastName}}</p>
        <p class="userinfo">USERNAME: {{userName}}</p>
        <p class="userinfo">COMPANY: {{company}}</p>
      </div>
    </a>
  </div>
</ul>
{{/each}}

<a href="/user/new">
  <button>CREATE NEW USER</button>
</a>