<h1>show page</h1>
<ul>
  {{individualUser}}
  <br>
  <li>
    {{!-- <a href="/user/{{_id}}"> --}}
      <p>name: {{firstName}} {{lastName}}</p>
      <p>user name: {{userName}}</p>
      <p>{{company}}</p>
      <p>
        <img src="{{profilePicture}}" alt="">
      </p>
     
      
     



    </a>
    

  </li>
