<h1>show page</h1>
<ul>

  <br>
  
    {{!-- <p"/user/{{individualUser._id}}"</p> --}}
      <p>name: {{individualUser.firstName}} {{individualUser.lastName}}</p>
      <p>username: {{individualUser.userName}}</p>
      <p>{{individualUser.company}}</p>
      <p>
        <img src="{{individualUser.profilePicture}}" alt="">
      </p>
     
    <button><a href="/user/{{individualUser._id}}/edit" >EDIT</a></button>
  <button><a href="/user">SAVE</a></button>
 




    

 
